.theme_blue .header {
  background-color: #1945e9;
}

.theme_blue .promo {
  background-color: #1a479f;
  background-image: linear-gradient(to right, #3c76ea7d, #fff0);
}

.theme_blue .slider-tabs__control {
  background-color: #ffffff6b;
}

.theme_blue .about__link,
.theme_blue .actual-day,
.theme_blue .submit-btn,
.theme_blue .modal-head,
.theme_blue .submit-btn {
  background-color: #0061ff;
}

.theme_blue .hidden-menu__line,
.theme_blue .feedback-form-contacts,
.theme_blue .subscribe-btn {
  background-color: #2360d4;
}

.theme_blue .mark,
.theme_blue .date-time,
.theme_blue .time-reserve,
.theme_blue .servise-list,
.theme_blue .active-staff > .staff-rank,
.theme_blue .choose-time,
.theme_blue .choose-list_link {
  color: #1945e9;
}

.theme_blue .active-staff .staff-icon {
  border: 2px solid #1945e9;
}

.theme_pink .header,
.theme_pink .about__link,
.theme_pink .actual-day,
.theme_pink .submit-btn,
.theme_pink .hidden-menu__line,
.theme_pink .feedback-form-contacts,
.theme_pink .subscribe-btn,
.theme_pink .modal-head,
.theme_pink .submit-btn {
  background-color: #ff009f;
}

.theme_pink .promo {
  background-color: #cc007f;
  background-image: linear-gradient(to right, #ff009f7d, #fff0);
}

.theme_pink .slider-tabs__control {
  background-color: #0000005e;
}

.theme_pink .mark,
.theme_pink .date-time,
.theme_pink .active-staff .staff-rank,
.theme_pink .time-reserve,
.theme_pink .servise-list,
.theme_pink .choose-time,
.theme_pink .choose-list_link {
  color: #ff009f;
}

.theme_pink .active-staff .staff-icon {
  border: 2px solid #ff009f;
}

.theme_pink .calendar-link,
.theme_pink .social-contact__link,
.theme_pink .calendar-tabs__control {
  filter: hue-rotate(95deg);
}


.title-img__theme_blue {
  transform: translateX(110px);

  transition: transform 1s linear,
  opacity 1.1s step-end;
}

.move-left.active {
  transform: translateX(0);
  opacity: 0;
}

.title-img__theme_pink {
  transform: translateX(0);
  transition: transform 1s linear,
  opacity 1.1s step-end;
}

.move-right.active {
  transform: translateX(110px);
  opacity: 0;
}

.faded {
  transform: translateX(50%);
  opacity: 0;
  transition: transform 1s linear, opacity 1.1s linear;
}

.faded.in {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1s linear, opacity 1.1s linear;
}

.fade {
  opacity: 0;
  transition: opacity 1.1s linear;
}

.fade.show {
  opacity: 1;
  transition: opacity 1.1s linear;
}
