@media (max-width: 561px) {
    .map,
    .timetable::after {
      display: none;
    }

  .header {
    left: 57px;
  }

  .aside-contacts {
    width: 20%;
    max-width: 57px;
    height: 100vh;

    padding-top: 27px;
    padding-bottom: 36px;
  }

  .social-contact {
    margin-bottom: 20px;
  }

  .social-contact__item {
    margin-top: 35px;
  }

  .promo {
    position: relative;
    flex-direction: column;
    margin-left: 57px;
    max-height:100vh;
    background-color: #12377d;
    background-image: none;
  }

  .title__container {
    position: absolute;
    height: 100vh;
  }

  .title-img__theme_blue {
    transform: translateX(0px);
  }

  .title-img {
    max-width: 94%;
  }

  .title {
    margin-bottom: auto;
    margin-top: 50px;
    padding-bottom: 15px;
  }

  .slider-tabs {
    justify-content: flex-start;
  }

  .slider-tabs__control {
    width: 36px;
    height: 36px;

    background-size: 0.6em;
  }

  .promo-photo {
    order: -1;
    width: auto;
    height: 100vh;
  }

  .about {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    max-height: none;
    margin-left: 57px;
    padding: 0;
  }

  .about-img {
    flex-grow: 1;
    width: 51%;

    margin-top: 3px;
    margin-left: 15px;

    padding: 0;

    object-fit: cover;
  }

  .about__container {
    padding-top: 32px;
    padding-left: 37px;
    padding-right: 40px;
    padding-bottom: 37px;
  }

  .about__title {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.3px;
  }

  .about__text {
    margin-top: 21px;
    margin-bottom: 28px;
    padding-right: 0px;

    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.25px;
  }

  .about__link {
    padding: 1.3em 2.2em;

    font-size: 12px;
    letter-spacing: 0.3px;
  }

  .services {
    flex-direction: column;
    justify-content: flex-start;
    max-height: none;
    margin-left: 57px;
    margin-top: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .calendar__container {
    flex-basis: auto;
    flex-grow: 0;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .date-time {
    margin-right: 15px;
    font-size: 20px;

    font-size: 10px;
    line-height: 17.32px;
  }

  .date-icon {
    margin-right: 9px;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .calendar-tabs__control {
    height: 10px;
    background-size: 5px;
  }

  .calendar-right {
    margin-left: 19px;
  }

  .calendar {
    margin-top: 33px;
    border-bottom: none;
    border-bottom: 1px solid #e7e9f1;
}

  .day-of-week {
    font-size: 8px;
    padding-bottom: 14px;

    border-bottom: 1px solid #e7e9f1;
  }

  .day {
    padding-top: 9px;
  }

  .day-link {
    width: 19px;
    height: 18px;

    border-radius: 12px;

    font-size: 10px;
  }

  .last-week {
    padding-bottom: 9px;
  }

  .reserve-list {
    padding: 0;
    padding-top: 47px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .staff-list {
    margin: 0;
    margin-left: 11px;
    margin-top: 4px;
    padding: 0;

    overflow-x: auto;
  }

  .staff-list__item:first-child {
    margin-right: 39px;
  }

  .staff-list__item {
    margin-right: 39px;
  }

  .staff-rank {
    width: max-content;
  }

  .reserve-note {
    padding: 0;
    padding-top: 28px;
  }

  .reserve-time {
    margin-left: 5px;

    font-size: 12px;
    letter-spacing: 0.3px;
  }

  .timetable {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;

    min-height: 137px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-bottom: 18px;

    font-size: 12px;
  }

  .timetable__item {
    flex-basis: 33%;
  }

  .time-reserve {
    margin-bottom: 14px;
  }

  .reserve-status-link {
    font-size: 10px;
  }

  .servise-price {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    min-height: 146px;

    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: #f4f6fb;
  }

  .servise-price__item {
    flex-basis: 33%;
    flex-grow: 1;
  }

  .servise-list {
    margin-bottom: 14px;
    font-size: 10px;
  }

  .price {
    font-size: 10px;
  }

  .comment-title {
    margin: 0;
    margin-top: 26px;
    margin-left: 0;
    font-size: 10px;
  }

  .comment-title::before {
    width: 40px;
    height: 23px;
    margin-right: 4px;
  }

  .comment-text {
    margin-top: 14px;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 10px;

    font-size: 10px;
    line-height: 14px;
  }

  .contacts {
    margin-top: 54px;
    margin-left: 57px;
    padding: 0 20px;
  }

  .contact-cards {
    position: relative;
    left: 0;
    flex-direction: column;
  }

  .feedback-form-contacts {
    order: -1;
    width: 100%;
    padding: 1em;
    border-radius: 2px 2px 0 0;
  }

  .contacts__title {
    text-align: center;
    margin-bottom: 37px;
    font-size: 14px;
    letter-spacing: 0.35px;
  }

  .address {
    margin-bottom: 18px;
    padding-left: 36px;
    font-size: 10px;
    letter-spacing: 0.25px;
    background-size: 18px;
  }

  .contact-link {
    display: block;
    padding-left: 36px;
    font-size: 12px;
    letter-spacing: 0.25px;
  }

  .feedback-social {
    margin-top: 31px;
    margin-bottom: 0;
    justify-content: space-evenly;
  }

  .feedback-social__item {
    margin: 0;
  }

  .feedback-form__container {
    width: 100%;
    padding: 1em;
    border-radius: 0 0 2px 2px;
  }

  .feedback-form__title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 27px;
    font-size: 14px;
    letter-spacing: 0.35px;

  }

  .feedback-form {
    padding: 0 1em;
  }

  .form-container {
    height: auto;
    margin-bottom: 17px;

  }

  .title-input {
    height: auto;
    width: auto;
    margin-bottom
    font-size: 10px;
    letter-spacing: 0.25px;
  }

  .feedback-form__item {
    width: 100%;
    height: auto;
    margin-bottom: 14px;
    font-size: 12px;
    letter-spacing: 0.33px;
  }

  .input-message {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  .submit-btn {
    display: block;
    margin: 0 auto;
    padding: 1.25em 4.8em;
    font-size: 12px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    margin-left: 57px;
    padding-top: 25px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #6d707944;
  }

  .footer-menu__item {
    margin-bottom: 24px;
    text-align: center;
  }

  .footer-sub-menu {
    margin-top: 7px;
  }

  .subscribe-form {
    display: inline-block;
  }
}
