@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI Regular'), local('Segoe UI - Regular'),
       url('../fonts/SegoeUI.woff2') format('woff2'),
       url('../fonts/SegoeUI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe UI Bold'), local('Segoe UI - Bold'),
       url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
       url('../fonts/SegoeUI-Bold.woff') format('woff');
}
