html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.store-page {
	min-width: 320px;
	margin: 0;

	font-family: 'Segoe UI', sans-serif;
	font-size: 1em;
	line-height: normal;
	letter-spacing: normal;

	background-color: #fff;
}

a {
  text-decoration: none;

  color: inherit;
}

a:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.wrapper {
	position: relative;

	width: 100%;
	max-width: 1170px;

	margin: 0 auto;

  z-index: 1000;
}

.visually-hidden {
	display: none;
}
